.products {
  padding-top: 121px;
  padding-bottom: 98px;
  background-color: #ffffff;
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  /* @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  } */
}

.list {
  list-style: none;
}
.product-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;
}
.product-title {
  margin: 0 auto;
  margin-bottom: 31px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.product-name {
  position: relative;
  margin-top: 161px;
  margin-bottom: 66px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}
.product-name::after {
  position: absolute;
  content: "•••";
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  letter-spacing: 4px;
  margin-top: 30px;
}
.product-ice::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/ice-cream1.jpg);
  background-repeat: no-repeat;
  background-size: 249px 252px;
}
.product-description {
  margin-bottom: 30px;
  padding: 0 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}
/* .product-card {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
} */
.product-ice {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
  width: 280px;
  height: 485px;
  background: #ffb8ca;
  border-radius: 24px;
}

.product-coffee {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
  width: 280px;
  height: 485px;
  background: #f0d1a5;
  border-radius: 24px;
}
.product-milkshake {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
  width: 280px;
  height: 485px;
  background: #c2e297;
  border-radius: 24px;
}

.product-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}
.icon-arrow {
  text-align: center;
  fill: #d41443;
}

.product-button:hover {
  background-color: #f7e4e8;
}
